html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	margin: 0.1%;
}

body {
	background-color: white;
	margin-top: 80px;
	/*background-color: #D0EDF1;*/
}

h1, h2, a {
	color: #A5A58D;
}

h2 {
	margin: 5% 0;
}

header {
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
  	top: 0; /* Position the navbar at the top of the page */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80px;
	margin-top: 0;
	margin-bottom: 2px;
}

nav {
	width: 100%;
	display: flex;
	background-color: white;
	margin-top: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 2%;
	border-bottom: 2px solid #A5A58D;
}


.logo, .menu {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

.menu {
	margin-right: 0;
}

.logo {
	max-width: 350px;
	min-height: 50px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	justify-content: center;
	margin-left: 0;
	border: 2px solid #A5A58D;
}

.logo h1 {
	color: #A5A58D;
	font-size: 1.4rem;
	font-weight: lighter;
}

ul {
	height: 100%;
	flex-direction: row;
	display: inline-flex;
	justify-content: space-between;
	padding: 0;
}

a {
	text-decoration: none;
	list-style-type: none;
	padding: 12px 12px;
}

li {
	text-decoration: none;
	list-style-type: none;
	margin: auto 5%;
	font-weight: lighter;
	font-size: 1.2rem;
}

a:hover {
	border-radius: 10px;
	color: white;
	background-color: #A5A58D;
}

.selected {
	border-radius: 10px;
	color: white;
	background-color: #A5A58D;
}

.photo-img:hover {
	/*border: solid 2px #5062AA;*/
	transition: transform .4s;
	transform: scale(1.1);
	padding: 1px;
	box-shadow: 0 0 5px #A5A58D, 0 0 5px #A5A58D, 0 0 10px #A5A58D;
}

.section-1, .section-2, .section-3 {
	/*border: 2px solid green;	/* ---------> BORRAR!!! <---------------*/
	min-height: 350px;
	max-height: 100%;
	display: flex;
	flex-flow: row wrap;	
	justify-content: space-around;
	margin: auto 1%;
	padding: 2% 2%;
}

.photo {
	display: flex;
	flex-flow: column;
	/*height: 350px;
	width: 350px;*/
	margin: 1%;
	text-align: center;
}

.photo-img {
	height: 100%;
    width: 100%;
    height: 350px;
	width: 350px;
    max-height: 350px;
	max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #A5A58D;
}

.photo h2 {
	text-align: center;
}

#section-home {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	height: 800px;
}

#photo-home {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#photo-home img {
	height: 600px;
	width: 450px;
	min-height: 450px;
	min-width: 350px;
}

footer {
	height: 200px;
}

/* ---------------------------------------> MEDIUM SCREENS <--------------------------------------->*/

@media screen and (max-width: 1000px) {

	body, header, section, footer {
		min-width: 500px;
	}

	body {
		margin-top: 120px;
		/*background-color: #D0EDF1;*/
	}

	.section-1, .section-2, .section-3 {
		/*border: 2px solid green;	/* ---------> BORRAR!!! <---------------*/
		min-height: 500px;
		display: flex;
		flex-flow: column wrap;	
		justify-content: center;
		align-items: center;
		margin: auto 0.5%;
		padding: 1% 1%;
	}

	#photo-home {
		min-height: 450px;
		min-width: 450px;
	}

	#photo-home img {
		min-height: 450px;
		min-width: 350px;
	}

	.photo-img:hover {
		transform: scale(1.05);
	}

	header {
		height: 120px;
	}

	nav {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

	.logo, .menu {
		min-width: 350px;
		height: 40%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		margin: auto;
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

}
